images/resMe2 - Copy.png
images/resMe2-tweaks.psd
images/resMe2_vectorized--800% with roughly same look.psd
images/resMe2_vectorized.png
images/particlesThumb - Copy.png
images/bshadowsThumb - Copy.png
images/tudor6 - Copy.png
project/pendulum/images/sketch2.psd
project/pendulum/images/sketch - Copy.png
images/holoThumb - Copy.png
images/leapThumb2 - Copy.png
images/old names/
images/NoiseII-simple - Copy (2).jpg
images/NoiseII-simple - Copy (3).jpg
project/gpgpu/images/results - Copy.jpg
